* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #5D574E;
}

.logo {

    margin-top: 60px;
    margin-left: 150px;
    display: grid;
    padding-bottom: 40px;
}


ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px;

    margin-left: 75%;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #5D574E;
    margin-right: 150px;
}



li {
    display: inline-block;
    margin-right: 100px;
    margin-top: -60px;


}

a {
    text-decoration: none;
    color: #5D574E;
}

/* Hero section */

.hero_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
    align-items: flex-end;


}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: #5D574E;
    margin-top: 20%;
    margin-left: 350px;
}


#hero {
    height: 650px;
    background-image: url(/images/background\ pattern.png);
    background-size: 100%;
    background-position: left;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

button {
    text-align: center;
    background-color: #FF7E7E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    height: 64px;
    width: 250px;
    border-radius: 16px;
    border-color: white;
    margin-left: 350px;
    margin-bottom: 80px;
    margin-top: 60px;

}

/* About section */
.about_section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr .2fr;
    grid-template-rows: 200px;
}

.column_left {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: left;
    margin-left: 300px;



}

.column_right {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 200px;

}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #5D574E;
}

p {
    font-family: "Jost", sans-serif;
    font-weight: 340;
    font-size: 28px;
    color: #5D574E;
    margin-top: 40px;
}

/* Skills section */

.container {
        
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .heading {
    margin-top: 600px;
    text-align: center;
    padding-bottom: 60px;
    font-size: 48px;
    font-weight: 600;
    }

.container .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
}

.container .box-container .box {
    text-align:center;
    
}

h3 {margin-top: 30px;
    font-size: 32px;
    font-weight: 300px;
color: #5D574E;}

@media screen and (max-width: 1000px) {
    .container {
      padding: 60px 24px;
      grid-template-columns: 1fr 1fr 1fr;
    }}